body{

    background: url(../assests/svg/pattern/wave.svg);
    background-color: var(--base-color);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 0 20%;

    padding: 36px 0;
    flex-wrap: wrap;


}