button {
    font-weight: 700;
    padding: 12px;
    border-radius: 8px;
}

.white-bordered-btn{
    color: var(--font-color);
    background: none;
    outline: 2px solid var(--font-color);
}

.green-btn{
    color: var(--font-color);
    background-color: var(--accent-color);
}

.shadow{
box-shadow: 3px 5px 9px #000;
}