section {
    display: flex;
    flex-direction: row;
    padding: 3% 10% 0;
    justify-content: space-between;
}

section .left{
    align-content: center;
    width: 50%;
    padding: 0 5%;
}

section .left .name{
    font-size: 32px;
    font-weight: 900;
    color: var(--accent-color);
}

section .left span{
    font-weight: 500;
    color: var(--font-color);
}

section .left .role{
    margin-top: 8px;
    font-size: 26px;
}

section .left p{
    margin-top: 16px;
}

section .left .contacts{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

section .left .contacts a{
    color: var(--font-color);
    text-decoration: none;
    padding: 4px 8px;
    display: flex;
    align-content: center;
    margin-bottom: 8px;

}

section .left .contacts a img{
    filter: invert(100%);
    padding-right: 8px;
}

section .left .buttons{
    margin-top: 5%;
    margin-bottom: 5%;
}

section .left .buttons button{
    margin: 0 8px;
}

section .left button .download-icon{
    filter: invert(100%);
}

section .right{
    width: 50%;
    align-content: center;
    display: flex;
}

section .right img{
    border-radius: 16px;
    margin: auto;
    box-shadow: 5px 10px 18px #000;
}