.project-info h4{
    /* margin-bottom: 4px; */
    margin: 0 1rem 1rem;
}

.project-info h5, .description{
    /* margin-bottom: 16px; */
    margin: 0 1rem 1rem;
}

.tech-used{
    margin: 0 1rem 1rem;
    display: flex;
    flex-direction: row;
    padding: 4px 0;
}