.error-404 {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 16px;
}

.center-margin{
    margin: auto;
}

.margin-top{
    margin-top: 16px;
}

.error-font-size {
    color: var(--font-color);
    font-size: 72px;
}

.error-font-size span{
    font-size: 74px;
}

span{
    color: var(--accent-color);
}

img {
    filter: invert(100%);
}