.pl-card{
    padding: 16px;
    margin: 8px;
    /* outline: 2px solid var(--font-color); */
    border-radius: 16px;

    width: 150px;
    height: 75px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;

    background: var(--navigation-color);
    box-shadow: 2px 5px 9px #000;
    /* backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 17px ); */
}

.pl-card svg, h4{
    margin: auto;
}

.pl-card svg {
    width: 32px;
    height: 32px;
    fill: var(--accent-color);
}